:root {
	--main-color: rgb(255, 215, 0);
	--black: rgb(0, 23, 31);
	--gray: rgb(127, 138, 142);
	--white: rgb(253, 253, 253);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--black);
}

* {
	color: var(--white);
	font-family: 'Jost', sans-serif;
}

h2 {
	font-size: 3rem;
}

h4 {
	font-size: 1.25rem;
}

small {
	font-size: 0.875rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.yellow {
	font-weight: normal;
	color: var(--main-color);
}

.bold {
	font-weight: bold;
}

main > section:not(.summ) {
	padding: 2rem;
}

/* media queries */

@media (max-width: 768px) {
	h2 {
		font-size: 1.5rem;
	}
}
