:root {
	--main-color: rgb(255, 215, 0);
	--black: rgb(0, 23, 31);
	--gray: rgb(127, 138, 142);
	--white: rgb(253, 253, 253);
}

* {
	margin: 0;
}

.services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.services .title {
	font-size: 3rem;
}

.services h2 {
	font-size: 1.5rem;
}

.services .service {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	border: 0.1rem solid var(--gray);
	border-radius: 1rem;
}

.services button {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	width: fit-content;

	color: var(--main-color);
	background: none;
	font-weight: bold;
	border: 0.1rem solid var(--main-color);
	border-radius: 4rem;
}

@media (max-width: 960px) {
	.services {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 680px) {
	.services {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 425px) {
	.services .service {
		padding: 2rem 1rem;
	}

	.services .title {
		font-size: 2rem;
	}
}
